<!-- <p>login works!</p>
<form>
    <div class="input li1">
        <label>Username:</label>
        <input name="username" [(ngModel)]="usernameInput"  type="text" placeholder="Enter your name"><br>
    </div><br>
    <div class="input li2">
        <label>Password:</label>
        <input name="password" [(ngModel)]="passwordInput"  type="text" placeholder="Enter your password"><br>
    </div><br>
    <div class ="input li3">
    
       
    </div>
</form>

<input type="button" (click)="login()" value="Login">
 -->
 <p>Login Works!</p>
 <form [formGroup]="loginForm" (ngSubmit)="Login()">
     <div class="input li1">
     <label>Username:</label>
     <input type="text" id="username" formControlName="username" />
     
   <div *ngIf="loginForm.get('username')!.hasError('required') && (loginForm.get('username')!.dirty || loginForm.get('username')!.touched)"><br>
     Username is required.
   </div>
   </div><br>
   <div class="input li2">
     <label >Password:</label>
     <input type="password" id="password" formControlName="password" /><br>
     <div *ngIf="loginForm.get('password')!.hasError('required') && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)">
         Password is required.
     
       </div>
     
   </div><br>
   <div class="input li3">
     <button type="submit" >Login</button><br>
   </div><br>
   </form>
   