<h1>Registration</h1>
<div class="card">
  <mat-card>
    <mat-card-content>

      <form [formGroup]="DashboardForm" (ngSubmit)="formSubmit()">
        <div class="input li1">
          <label>Name:</label>

          <mat-form-field class="input" appearance="outline">

            <input matInput formControlName="name" />
          </mat-form-field>
  
          <div class="hasError"
            *ngIf="DashboardForm.get('name')!.hasError('required') && (DashboardForm.get('name')!.dirty || DashboardForm.get('name')!.touched)">

            Name is required.
          </div><br>
        </div>

        <div class="input li3">
          <label>Date of Birth:</label>
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
        </div><br>
        <div class="input li2">
          <label>E-mail id:</label>
          <mat-form-field class="input" appearance="outline">

            <input matInput formControlName="emailId"/>
          </mat-form-field>
          <div class="hasError"
            *ngIf="DashboardForm.get('emailId')!.hasError('required') && (DashboardForm.get('emailId')!.dirty || DashboardForm.get('emailId')!.touched)">

            E-mail id is required.
          </div><br>
        </div>


        <div class="input li6">
          <label>phone No:</label>
          <mat-form-field class="input" appearance="outline">

            <input matInput formControlName="phoneno"/>
          </mat-form-field>
          <div class="hasError"
            *ngIf="DashboardForm.get('phoneno')!.hasError('required') && (DashboardForm.get('phoneno')!.dirty || DashboardForm.get('phoneno')!.touched)">

            phone number is required.
          </div><br>
        </div>


        <div class="input li5">
          <label>Gender:</label>
          <mat-radio-group aria-label="Select an Gender">
            <mat-radio-button *ngFor="let option of gender" [value]="option.value">
              {{ option.label }}
            </mat-radio-button>
          </mat-radio-group>
        
        </div>
        <div class="input li7">
          <label>Address:</label>
          <mat-form-field class="input" appearance="outline">

            <input matInput formControlName="address"/>
          </mat-form-field>
          <div class="hasError"
            *ngIf="DashboardForm.get('address')!.hasError('required') && (DashboardForm.get('address')!.dirty || DashboardForm.get('address')!.touched)">

            Address is required.
          </div><br>
        </div>
        <div class="input li8">
          <label>city:</label>
          <mat-form-field appearance="outline">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option *ngFor="let cities of city" [value]="cities.value">
                {{ cities.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          </div><br>
          <div class="input li9">
            <label>state:</label>
            <mat-form-field appearance="outline">
              <mat-label>Select</mat-label>
              <mat-select>
                <mat-option *ngFor="let states of state" [value]="states.value">
                  {{ states.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <div class="input li10">
              <label>country:</label>
              <mat-form-field appearance="outline">
                <mat-label>Select</mat-label>
                <mat-select>
                  <mat-option *ngFor="let countries of country" [value]="countries.value">
                    {{ countries.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            
            </div><br>
            <div class="input li11">
              <label>password:</label>
              <mat-form-field class="input" appearance="outline">

                <input matInput formControlName="password"/>
              </mat-form-field>
              <div class="hasError"
                *ngIf="DashboardForm.get('password')!.hasError('required') && (DashboardForm.get('password')!.dirty || DashboardForm.get('password')!.touched)">

                Password is required.
              </div><br>
            </div>
            <div class="input li12">
              <label>confirm password:</label>
              <mat-form-field class="input" appearance="outline">

                <input matInput formControlName="confirmpassword"/>
              </mat-form-field>
              <div class="hasError"
                *ngIf="DashboardForm.get('confirmpassword')!.hasError('required') && (DashboardForm.get('confirmpassword')!.dirty || DashboardForm.get('confirmpassword')!.touched)">

                confirmpassword is required.
              </div><br>
            </div>

            <div class="input li11">
              <button mat-raised-button type="submit" color="primary">Submit</button>
            </div>
       
    <!-- </mat-card-content> -->
  <!-- </mat-card> -->

</div>
